doctype html

html

  head

    title Trello Air
    link(rel="stylesheet" type="text/css" href="./style.css")

  body
  
    header
      div.content
        
        aside
          h3 Trello Air
          p.small A chrome #[a.inlinelink( href='https://userstyles.org/') stylish] theme for #[a.inlinelink( href='https://trello.com') Trello.com]
          
        a.button(href="https://userstyles.org/styles/158299/trello-air") Get Trello Air
            
    section.primary
      div.content
      
        h1 Trello Air
        h2 Give your tasks space to breathe
        p A chrome #[a.inlinelink( href='https://userstyles.org/') stylish] theme for #[a.inlinelink( href='https://trello.com') Trello.com]
        a.button(href="https://userstyles.org/styles/158299/trello-air") Get Trello Air
        img(src="./assets/glimpse.png" alt="Glimpse")
        
    section.secondary
      div.content
      
        h2 Embace a new style
        h3 More space, less clutter and smarter visual cues.
        img(src="./assets/preview.png" alt="Preview")

    footer
      div.content
      
        p Designed by #[a.inlinelink( href='https://charlottebretonsch.com/') Charlotte Breton Schreiner]
      
