doctype html

html

  head

    title Trello Air
    link(rel="stylesheet" type="text/css" href="./style.css")

  body
  
    header
      div.content
        
        aside
          h3 Trello Air
          p.small A chrome #[a.inlinelink( href='https://add0n.com/stylus.html') stylus] theme for #[a.inlinelink( href='https://trello.com') Trello.com]
          
        a.button(href="https://userstyles.org/styles/158299/trello-air") Get Trello Air
            
    section.primary
      div.content
      
        h1 Trello Air
        h2 Give your tasks space to breathe
        p A chrome #[a.inlinelink( href='https://add0n.com/stylus.html') stylus] theme for #[a.inlinelink( href='https://trello.com') Trello.com]
        a.button(href="https://userstyles.org/styles/158299/trello-air") Get Trello Air
        img(src="./assets/glimpse.png" alt="Glimpse")
        
    section.secondary
      div.content
      
        h2 Embace a new style
        h3 More space, less clutter and smarter visual cues.
        img(src="./assets/preview.png" alt="Preview")
        
    section.secondary
      div.content
      
        h2 Maximise your productivity
        h3 Focus on what you need to do, when you need to get it done.
        img(src="./assets/duedate.png" alt="Preview")
        
    section.secondary
      div.content
      
        h2 Get Trello Air
        
        div.blocks
        
          div.block
            h3 1. Add Stylus to Chrome
            p Stylus is an extension which allows you to add themes to modify the appearance of a, some or any website.
            a.button(href="https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne") Add Stylus to Chrome
            
          div.block
            h3 2. Install Trello Air
            p Trello Air is a theme which modified the appearance of Trello.com. It will not affect any other websites.
            a.button(href="https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne") Install Trello Air
            
          div.block
            h3 3. Activate Trello Air
            p You can activate and desactivate Trello Air at any time by switching it on or off. It's easy and there is no delay.
            a.button(href="https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne") Activate Trello Air


    footer
      div.content
      
        p Designed by #[a.inlinelink( href='https://charlottebretonsch.com/') Charlotte Breton Schreiner]
      
