doctype html

html

  head

    title Trello Air
    link(rel="stylesheet" type="text/css" href="./style.css")

  body
            
    section.primary
      div.content
      
        h1 Trello Air
        h2 Give your tasks space to breathe
        p A chrome stylish theme for Trello.com
        a.button(href="https://userstyles.org/styles/158299/trello-air") Get Trello Air
        img(src="./assets/glimpse.png" alt="Glimpse")
