doctype html

html

  head

    title Trello Air
    link(rel="stylesheet" type="text/css" href="./style.css")

  body
  
    header
      div.content
        
        aside.info
          h3 Trello Air
          p.small A Chrome #[a.inlinelink( href='https://add0n.com/stylus.html') Stylus] theme for #[a.inlinelink( href='https://trello.com') Trello.com]
        
        aside.action
          a.button.icon(href="https://github.com/charlottebretonsch/trelloair")
          a.button(href="https://userstyles.org/styles/158299/trello-air") Get Trello Air
            
    section.primary
      div.content
      
        h1 Trello Air
        h2 Give your tasks space to breathe
        p A Chrome #[a.inlinelink( href='https://add0n.com/stylus.html') Stylus] theme for #[a.inlinelink( href='https://trello.com') Trello.com]
        a.button(href="https://userstyles.org/styles/158299/trello-air") Get Trello Air
        img(src="./assets/glimpse.png" alt="Glimpse")
        
    section.secondary
      div.content
      
        h2 Embrace a new style
        h3 More space, less clutter and smarter visual cues.
        img(src="./assets/preview.png" alt="Preview")
        
    section.secondary
      div.content
      
        h2 Maximise your productivity
        h3 Focus on what you need to do when you need to get it done.
        img(src="./assets/duedate.png" alt="Preview")
        
    section.secondary
      div.content
      
        h2 Get Trello Air
        
        div.blocks
        
          div.block
            h3 1. Add Stylus to Chrome
            p Stylus is a safe extension which allows you to add themes to modify the appearance of selected websites.
            a.button(href="https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne") Add Stylus to Chrome
            
          div.block
            h3 2. Install Trello Air
            p Trello Air is a theme which modified the appearance of Trello.com. Click on "Install Style".
            a.button(href="https://userstyles.org/styles/158299/trello-air") Install Trello Air
            
          div.block
            h3 3. Activate Trello Air
            p Trello Air will be automatically activated. You can activate/deactivate it at any time. Click on the Stylus logo in your navigation bar and then tick/untick Trello Air.


    footer
      div.content
      
        p View code, contribute or report an issue on #[a.inlinelink( href='https://github.com/charlottebretonsch/trelloair') GitHub]

        p Designed by #[a.inlinelink( href='https://charlottebretonsch.com/') Charlotte Breton Schreiner]








// End
