// Import

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700');




// Variables

grid-size = 4px
grid-fullwidth = grid-size*214

color-dark = #00242A
color-light = #FFFFFF
color-accent = #FF7979
color-medium = #628f92
color-background = #F1F1F1




// Set up

*
  margin 0
  padding 0
  text-decoration none
  outline none
  border none
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

html
  width 100%
  height 100%

body
  height 100%
  width 100%
  font-family 'Source Sans Pro', sans-serif
  font-weight 300
  text-align center
  color color-dark

li
  list-style none
  display inline-block

img
  display block

a
  color inherit
  cursor pointer
  display block




// Text

h1, h2, h3, p, p.small, a
  font-weight inherit

h1
  font-size grid-size*14
  line-height grid-size*17.5

h2
  font-size grid-size*10
  line-height grid-size*12.5

h3
  font-size grid-size*6
  line-height grid-size*7.5

.logo
  font-size grid-size*6
  line-height grid-size*6

a, p
  font-size grid-size*4
  line-height grid-size*6

p.small
  font-size grid-size*3.5
  line-height grid-size*4.5




// Actions

a.button
  background color-accent
  font-weight 700
  padding grid-size*3 grid-size*5
  display inline-block
  border-radius grid-size
  color color-light

  &:hover
    background-color darken(color-accent, 4%)

a.button.icon
  padding grid-size*2 grid-size*5
  background-image url("./assets/github.png")
  background-repeat no-repeat
  background-position center center
  background-size 24px
  height grid-size*12
  width grid-size*12

  &:hover
    background-color darken(color-accent, 4%)

a.inlinelink
  display inline-block
  font-size inherit
  border-bottom 1px solid color-medium

  &:hover
    border-bottom 1px solid darken(color-medium, 12%)

p.small

  a.inlinelink
    margin grid-size*0.25 0
    line-height grid-size*4

p
  a.inlinelink
    margin grid-size*0.5 0
    line-height grid-size*5




// General

section, footer, header
  width 100%

  .content
    width grid-fullwidth
    margin auto

  aside.action
    display flex




// Header

header
  background color-dark
  color color-light
  text-align left
  padding grid-size*4 0
  position fixed
  top 0
  z-index 8

  .content
    display flex
    justify-content space-between

  a.button
    margin-left grid-size*2



// Footer

footer
  background color-background
  padding grid-size*12 0 grid-size*22 0

  a.inlinelink
    border-color color-dark

    &:hover
      border-color darken(color-dark, 8%)

  p
    margin-bottom grid-size*2

    &:last-child
      margin 0



// Sections

section.primary
  height grid-size*211
  background-image url("./assets/mountains.png")
  background-repeat no-repeat
  background-position center top
  color color-light
  padding grid-size*22 0 grid-size*12 0
  margin-top grid-size*20

  img
    margin-top grid-size*12
    position absolute
    width grid-fullwidth

  p
    margin grid-size*4 0 grid-size*6 0

section.secondary
  padding-top grid-size*14
  padding-bottom grid-size*16
  border-bottom 2px solid color-background

  &:nth-of-type(2)
    padding-top grid-size*18

  &:last-of-type
    padding-bottom grid-size*18
    border-bottom 0

  h2
    margin-bottom grid-size*3

  h3
    margin grid-size*3 0 grid-size*8 0

  img
    width 100%

.blocks
  width 100%
  display flex
  flex-direction row
  margin-top grid-size*8

  .block
    margin-right grid-size*6
    width 33.3%

    &:last-child
      margin-right 0

    h3
      margin 0 0 grid-size*3 0 !important

    p
      margin 0 0 grid-size*5 0 !important




// Responsive

@media (max-width: 920px)

  header
    display none

  section, footer, header
    width 100%

    .content
      width 100%
      padding-left grid-size*4
      padding-right grid-size*4

  section.primary
    height auto
    padding grid-size*14 0
    margin 0

    img
      width 100%
      position relative

  section.secondary
    padding-top grid-size*10
    padding-bottom grid-size*11
    border-bottom 2px solid color-background

    &:nth-of-type(2)
      padding-top grid-size*14

    &:last-of-type
      padding-bottom grid-size*14
      border-bottom 0

  .blocks
    flex-direction column

    .block
      width 100%
      margin 0 0 grid-size*10 0

      &:last-child
        margin 0







// End
